/* first container */

body {
    /* background-color: #1F2937; */
    margin: 0;
}
.container {
    background:#1F2937;
    padding-bottom: 50px;
}
.header {
    display: flex;
    padding: 16px;
    margin-left:10%;
    margin-right:10%;
}
.headerlogo {
    display:flex;
    font-size: 24px;
    color: #F9FAF8;
}
ul {
    display: flex;
    margin-left: auto;
    gap: 24px;
    list-style: none;
}
a {
    text-decoration: none;
    color: #F9FAF8; 
}
.main {
    display: flex;
    flex-direction: row;
    flex: auto;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
}
.heromain {
    display: flex;
    padding-left: 16px;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}
.herosecondary {
    display: flex;
    padding-left: 16px;
    color: #F9FAF8;
    font-size: 24px;
}
.signup {
    display: flex;
    width: fit-content;
    color: white;
    background-color: blue;
    margin-top: 20%;
    margin-left: 16px;
}
.pigpic {
    margin-left: 25%;
}

/*second container*/

.infoheader {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 36px;
}
.infoimgs {
    display: flex;
    justify-content: space-evenly;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    margin-bottom: 48px;
}

/*third container*/

.containerthree {
    display: flex;
    flex-direction: column;
    background: #E5E7EB;
}
.quote {
    display: flex;
    font-size: 36px;
    font-style: italic;
    margin-top: 64px;
    margin-left: 20%;
    margin-right: 20%;
}
.author {
    display: flex;
    font-size: 28px;
    font-weight: 900;
    justify-content: end;
    margin-right: 20%;
    margin-bottom: 42px;
}